.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 1s;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 0.5s;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 1s;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img {
    transition: 1s;
}
    
.ex-9-img:hover {
    border-radius: 40px;
    transform: scale(1.5 , 1.5);
    filter:saturate(50%) sepia(50%);
}

.ex-10-icon {
    font-size: 60px;
}

.ex-11-icon {
    font-size: 60px;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* solutions */

/* solution-ex-1 */
.ex-1-square:hover {
    background-color: red;
}

/* solution-ex-2 */
.ex-2-square:active {
    width: 100%;
}

/* solution-ex-3 */
.ex-3-square:hover {
    border-radius: 50%;
}

/* solution-ex-4 */
.ex-4-square:hover {
    opacity: 0%;
}

/* solution-ex-5 */
.ex-5-square:hover {
    transform: scale(2, 2);
}
.ex-5-square:active {
    transform: scale(0.5, 0.5);
}

/* solution-ex-6 */
.ex-6-img:hover {
    filter: grayscale(10);
}

/* solution-ex-7 */
.ex-7-img {
    transition: 1s;
}
.ex-7-img:hover {
    filter: brightness(70%) sepia(50%);
}

/* solution-ex-8 */
.ex-8-img {
    transition: 1s;
}
.ex-8-img:hover {
    border-radius: 40px;
    filter: saturate(100%) sepia(50%);
}

/* solution-ex-9 */
.ex-9-img {
    transition: 1s;
}
    
.ex-9-img:hover {
    border-radius: 40px;
    transform: scale(1.5 , 1.5);
    filter:saturate(50%) sepia(50%);
}

/* solution-ex-10 */
.ex-10-icon {
    animation: rotate 1s infinite linear;
}
    
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/* solution-ex-11 */
.ex-11-icon {
    transition: 2s;
}

.ex-11-icon:hover {
    animation: rot 2s alternate;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(330deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

/* solution-ex-12*/
.ex-12-button:hover .ex-12-top-white {
    animation: right 2s alternate;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: left 2s  alternate;
}

@keyframes right {
    0% {
        top: -10px;
        left: 10%;
    }

    50% {
        top: -10px;
        left: calc(100% - 60px);
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes left {
    0% {
        bottom: -10px;
        right: 20%;
    }

    50% {
        bottom: -10px;
        right: calc(100% - 60px);
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* solution-ex-13*/
.ex-13-button:hover .ex-13-top-white {
    animation: continue1 4s alternate;
    animation-iteration-count: 2;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: continue2 4s alternate;
    animation-iteration-count: 2;

}

@keyframes continue1 {
    0% {
        top: -10px;
        left: 10%;
    }

    25% {
        top: -10px;
        left: calc(110% - 60px);
    }

    50% {
        top: calc(170% - 60px);
        left: calc(110% - 60px);
    }

    75% {
        top: calc(170% - 60px);
        left: -10%;
    }

    100% {
        top: -10px;
        left: -10%;
    }
}

@keyframes continue2 {
    0% {
        bottom: -10px;
        right: 20%;
    }

    25% {
        bottom: -10px;
        right: calc(110% - 60px);
    }

    50% {
        bottom: calc(170% - 60px);
        right: calc(110% - 60px);
    }

    75% {
        bottom: calc(170% - 60px);
        right: -20%;
    }

    100% {
        bottom: -10px;
        right: -20%;
    }
}